.hero {
  width: 100%;
  padding-top: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 7.7vh;
}
.heroContent {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 4.5vh;
  font-family: bold;
  letter-spacing: 1px;
  margin-bottom: 4vh;
}
.hero h3 {
  font-weight: 100;
  font-family: light;
  line-height: 4.5vh;
  letter-spacing: 0.5px;
  font-size: 2.05vh;
}
/* Header */
.header {
  display: flex;
  width: 100%;
  margin: 10vh 0;
}
.inputCont,
.year,
.sortCont {
  flex: 1;
  display: flex;
  align-items: center;
}
.inputCont {
  justify-content: flex-start;
}
.input {
  display: flex;
  width: 20vw;
  border: 1px var(--white) solid;
  border-radius: 5px;
  position: relative;
}
#searchBar {
  background: transparent;
  width: 80%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 1.8vh 1.6vw;
  transition: all 0.3s;
  font-size: 1.8vh;
  font-family: light;
}
#searchBar::placeholder {
  color: var(--white);
  font-family: light;
}
.input button {
  background: transparent;
  cursor: pointer;
  width: 20%;
  font-size: 2.4vh;
  padding: 1vh 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: light;
}
.year {
  justify-content: center;
  align-items: center;
}
.header h2 {
  font-size: 3.6vh;
  font-family: bold;
}
.sortCont {
  justify-content: flex-end;
}
.sort {
  color: var(--white);
  position: relative;
  background: transparent;
  border: none;
  font-size: 1.8vh;
  cursor: pointer;
  border: var(--white) solid 1px;
  height: 100%;
  padding: 0 2vw;
  padding-right: 3.6vw;
  border-radius: 5px;
  appearance: none;
  background-image: url(../assets/down.png);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
}
/* CARDS */
.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 47%;
  height: auto;
  padding: 3vw;
  border: 1px solid var(--white);
  margin-bottom: 6vh;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.cardLeft {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
}
.cardLeft img {
  height: 14vh;
  width: 14vh;
  border-radius: 50%;
}
.cardRight {
  width: 65%;
  height: 100%;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card h2 {
  font-size: 2.8vh;
  font-family: med;
}
.card h3 {
  font-size: 2.4vh;
  font-family: light;
  margin-top: 1.4vh;
}
.social {
  margin-top: 1.8vh;
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.social i {
  margin-right: 1vw;
}
.write {
  width: 100%;
  margin: 0;
  height: 0;
  transition: all 0.4s;
}
.write p {
  padding: 0 2vw;
  font-size: 2vh;
  line-height: 3vh;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s;
}
.writeActive {
  margin: 5vh 0;
  height: 7vh;
}
.writeActive p {
  opacity: 1;
  transform: translateY(0);
}
/* Arrow */
.arr {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.arr i {
  color: var(--black);
}
.arrActive {
  transform: rotate(180deg);
}

/* MEDIAS */
@media (max-width: 1300px) {
  .hero {
    padding-top: 10vh;
    padding: 6vh 0;
  }
  .heroContent {
    width: 55%;
  }
}
@media (max-width: 1100px) {
  .input {
    width: 24vw;
  }
  #searchBar,
  .input button {
    padding: 1.8vh 3vw;
  }
  .arr {
    width: 4vw;
    height: 4vw;
  }
}
@media (max-width: 860px) {
  .input {
    width: 28vw;
  }
  #searchBar,
  .input button {
    padding: 1.8vh 4vw;
  }
  .sort {
    width: 28vw;
  }
  .header h2 {
    font-size: 3vh;
  }
  .card {
    width: 100%;
    padding: 4vh 2vw;
  }
  .cards {
    padding: 0 8vw;
  }
  .card h3 {
    margin-top: 1vh;
  }
  .card img {
    width: 12vh;
    height: 12vh;
  }
  .social {
    font-size: 2.4vh;
  }
  .card p {
    padding: 0;
    padding-left: 4vw;
    padding-right: 3vw;
  }
  .writeActive {
    margin: 3vh 0;
  }
}
@media (max-width: 800px) {
  .heroContent {
    width: 70%;
  }
  .hero h1 {
    font-size: 4vh;
  }
}
@media (max-width: 570px) {
  .heroContent {
    width: 100%;
  }
  .input {
    width: 36vw;
  }
  #searchBar,
  .input button {
    padding: 1.8vh 5vw;
  }
}
@media (max-width: 350px) {
  .hero h1 {
    font-size: 5vh;
  }
  .hero h3 {
    font-size: 2.4vh;
  }
}
