.main {
  padding: 5vh 6vw;
  overflow: hidden;
}
.main h1 {
  font-size: 5vh;
  font-family: med;
}
.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3vh 0;
  margin-bottom: 10vh;
}
.tab {
  cursor: pointer;
  padding: 1.5vh 0;
  position: relative;
  color: var(--dull);
  transition: all 0.3s;
  font-size: 2.3vh;
}
.tab::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s;
  background: var(--white);
}
.tab:hover:before {
  width: 25%;
}
.activeTab {
  color: var(--white);
}
.activeTab::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 2px;
  background: var(--white);
}
/* HEADER */
.header {
  display: flex;
  width: 100%;
  margin-bottom: 1vh;
}
.fH {
  margin-bottom: 6vh;
}
.headerLeft,
.headerRight {
  width: 50%;
  height: 3.6vh;
  display: flex;
  align-items: center;
}
.headerRight {
  justify-content: space-between;
}
.header h2 {
  font-size: 3vh;
}
.input {
  display: flex;
  width: 55%;
  border: 1px var(--borderWhite) solid;
  border-radius: 5px;
  position: relative;
}
#searchBar {
  background: transparent;
  width: 80%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 1.8vh 1.6vw;
  transition: all 0.3s;
  font-size: 1.8vh;
  font-family: light;
}
#searchBar::placeholder {
  color: var(--white);
  font-family: light;
}
.input button {
  background: transparent;
  cursor: pointer;
  width: 20%;
  font-size: 2.4vh;
  padding: 1vh 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: light;
}
.input img {
  width: 120%;
}
.sort {
  width: 35%;
  display: flex;
  border: 1px var(--borderWhite) solid;
  border-radius: 5px;
  position: relative;
}
.by,
.buttn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.8vh;
  font-family: light;
  padding: 1.8vh 0;
}
.by {
  width: 80%;
  border-right: 1px var(--white) solid;
}
.buttn {
  width: 20%;
}
.options {
  position: absolute;
  top: 100%;
  left: -0.5%;
  width: 101%;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  background: var(--black);
  border: 1px solid var(--borderWhite);
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0.8);
  pointer-events: none;
  transition: all 0.26s;
}
.option {
  padding: 1.6vh 1vw;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
  font-size: 1.8vh;
  transition: all 0.2s;
  font-family: light;
}
.option:hover {
  background: var(--white);
  color: var(--black);
}
.option:last-child {
  border: none;
}
.allAdd {
  display: none;
}
.allAddActive {
  display: block;
}
.sortActive {
  border-radius: 5px 5px 0 0;
}
.optsActive {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
}
/* CARDS */
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4vh 0;
}
.card {
  width: 47%;
  height: 44vh;
  margin-bottom: 7vh;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 -105px 107px 0 var(--black) inset;
  -webkit-box-shadow: 0 -105px 107px 0 var(--black) inset;
  -moz-box-shadow: 0 -105px 107px 0 var(--black) inset;
}
.card img {
  position: absolute;
  top: 0;
  border-radius: inherit;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.card:hover img {
  opacity: 0.75;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2vh 2vw;
}
.card h2 {
  font-size: 3vh;
  font-family: reg;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s;
}
.card h3 {
  font-size: 2vh;
  font-family: light;
  margin-top: 0.6vh;
  transform: translateY(75px);
  opacity: 0;
  transition: all 0.6s;
}
.card:hover .cardTitle,
.card:hover .cardSubtitle {
  transform: translate(0);
  opacity: 1;
}
.see {
  width: 100%;
  text-align: right;
  margin-top: 2vh;
  padding-right: 3vw;
  display: none;
}
.see h4 {
  position: relative;
  display: inline-block;
  font-family: light;
  cursor: pointer;
}
.see h4::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  width: 100%;
  height: 100%;
  height: 1px;
  background: var(--white);
}

/* PAGINATION */
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}
.arrows {
  display: flex;
  margin-bottom: 3vh;
}
.arrows button {
  background: none;
  border: none;
}
.arrows i {
  margin: 0 1vw;
  font-size: 2vh;
  width: 5.6vh;
  height: 5.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px var(--borderWhite) solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.arrows i:hover {
  background: var(--white);
  color: var(--black);
}
.nums {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.nums button {
  border: none;
  background: var(--scrolly);
  padding: 1vh 0.8vw;
  border-radius: 5px;
  font-size: 1.8vh;
  margin: 0 0.5vw;
  cursor: pointer;
  transition: all 0.3s;
}
.nums button:hover {
  background: var(--sBlack);
}
.nums .pageActive {
  background: var(--white);
  color: var(--black);
}
.nums span {
  height: 100%;
  font-size: 2vh;
  transform: translate(0, 70%);
  letter-spacing: 0.2vw;
}
/* MEDIAS */
@media (max-width: 1400px) {
  #searchBar,
  .by,
  .buttn,
  .option {
    font-size: 1.7vh;
  }
  .main {
    padding: 4vh 5vw;
  }
}
@media (max-width: 1100px) {
  .main {
    padding: 2.6vh 0;
  }
  .main h1 {
    font-size: 4vh;
  }
  .tab {
    font-size: 1.5vh;
    padding: 1vh 0;
  }
  .fH {
    margin-bottom: 3vh;
  }
  .headerLeft {
    width: 35%;
  }
  .header h2 {
    font-size: 2.5vh;
  }
  .headerRight {
    width: 65%;
  }
  #searchBar,
  .by,
  .buttn,
  .option {
    font-size: 1.2vh;
  }
  #searchBar {
    padding: 1.2vh 2vw;
  }
  .input img {
    width: 70%;
  }
  .by,
  .buttn {
    padding: 1.2vh 0;
  }
  .option {
    padding: 1vh 1vw;
  }
  .input {
    width: 60%;
  }
  .sort {
    width: 34%;
  }
  .cards {
    padding: 3.3vh 0;
  }
  .card {
    width: 47%;
    height: 30vh;
    margin-bottom: 4vh;
  }
}
@media (max-width: 1030px) {
  .input img {
    width: 50%;
  }
  .nums button {
    padding: 1.2vh 1.6vw;
    margin: 0 0.8vw;
  }
}
@media (max-width: 800px) {
  .nums button {
    font-size: 1.6vh;
  }
  .arrows i {
    width: 4.6vh;
    height: 4.6vh;
    font-size: 1.6vh;
  }
}
@media (max-width: 550px) {
  .main {
    padding: 1vh 0;
  }
  .main h1 {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 3.5vh;
  }
  .tabs {
    flex-wrap: nowrap;
    width: 170%;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0;
    margin: 2vh 0;
  }
  .header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .headerLeft,
  .headerRight {
    width: 100%;
    justify-content: center;
  }
  .fH .headerLeft {
    margin-top: 5vh;
  }
  .header,
  .fH {
    margin: 0;
  }
  .sort {
    display: none;
  }
  .input {
    width: 90%;
  }
  .input img {
    width: 45%;
  }
  .input button {
    width: 17%;
  }
  #searchBar {
    font-size: 1.5vh;
    width: 83%;
    padding: 1.4vh 4vw;
  }
  .cards {
    padding: 2vh 0;
    padding-bottom: 4vh;
    justify-content: center;
  }
  .card {
    display: none;
    width: 95%;
    height: 25vh;
    margin-bottom: 2.3vh;
  }
  .card h2 {
    font-size: 2.5vh;
  }
  .card h3 {
    font-size: 1.5vh;
  }
  .bottom {
    padding: 2vh 5vw;
  }
  .cards > .card:first-child {
    display: inline-block;
  }
  .see {
    display: block;
  }
  .arrows i {
    width: 4vh;
    height: 4vh;
    font-size: 1.4vh;
    margin: 0 3vw;
  }
  .nums button {
    font-size: 1.5vh;
    padding: 1vh 3vw;
    margin: 0 1.8vw;
  }
}
