.hero {
  width: 100%;
  padding-top: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 7.7vh;
}
.heroContent {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 4.5vh;
  font-family: bold;
  letter-spacing: 1px;
  margin-bottom: 4vh;
}
.hero h3 {
  font-weight: 100;
  font-family: light;
  line-height: 4.5vh;
  letter-spacing: 0.5px;
  font-size: 2.05vh;
}
/* MEMBERS */
.cards {
  margin-bottom: 6vh;
  width: 100%;
  display: flex;
  padding: 0 13vw;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.card {
  width: 30%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 22.5vh;
  height: 22.5vh;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 4vh;
}
.card h2 {
  font-size: 2.6vh;
  text-align: center;
}
.card h3 {
  font-family: light;
  font-size: 2vh;
  margin: 1.6vh 0;
  padding: 0;
}
.social {
  font-size: 2.6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.social i {
  margin: 0 0.5vw;
}
.bigC {
  width: 50%;
}
.big {
  margin: 3vh 0;
  width: 100%;
  display: flex;
  padding: 0 10vw;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* INPUT */
.input {
  display: flex;
  width: 20vw;
  margin-top: 6vh;
  border: 1px var(--white) solid;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
}
.input:hover {
  box-shadow: 0 0 8px var(--white);
}
#searchBar {
  background: transparent;
  width: 80%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 1.8vh 1.6vw;
  transition: all 0.3s;
  font-size: 1.8vh;
  font-family: light;
}
#searchBar::placeholder {
  color: var(--white);
  font-family: light;
}
.input button {
  background: transparent;
  cursor: pointer;
  width: 20%;
  font-size: 2.4vh;
  padding: 1vh 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: light;
}
/* MEDIAS */
@media (max-width: 1300px) {
  .hero {
    padding-top: 10vh;
    padding: 6vh 0;
  }
  .heroContent {
    width: 55%;
  }
}
@media (max-width: 1100px) {
  .big {
    padding: 0;
    margin-bottom: 0;
  }
  .card {
    width: 45%;
  }
  .card img {
    width: 20vh;
    height: 20vh;
  }
  .input {
    width: 44vw;
  }
  #searchBar {
    padding: 1.8vh 3vw;
  }
  .social {
    font-size: 2vh;
  }
  .social i {
    margin: 0 0.8vw;
  }
}
@media (max-width: 860px) {
  .input {
    width: 50vw;
  }
  #searchBar {
    padding: 1.8vh 4vw;
  }
}
@media (max-width: 800px) {
  .cards {
    padding: 0 5vw;
  }
  .heroContent {
    width: 70%;
  }
  .hero h1 {
    font-size: 4vh;
  }
}
@media (max-width: 570px) {
  .heroContent {
    width: 100%;
  }
  .cards {
    padding: 0 3vw;
  }
  .card {
    width: 100%;
  }
  .input {
    width: 70vw;
  }
  #searchBar {
    padding: 1.8vh 5vw;
  }
  .social i {
    margin: 0 1vw;
  }
}
@media (max-width: 350px) {
  .hero h1 {
    font-size: 5vh;
  }
  .hero h3 {
    font-size: 2.4vh;
  }
}
