.hero {
  width: 100%;
  padding-top: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 7.7vh;
}
.heroContent {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 5vh;
  font-family: bold;
  letter-spacing: 1px;
  margin-bottom: 2vh;
}
.hero h3 {
  font-weight: 100;
  font-family: light;
  line-height: 4.5vh;
  letter-spacing: 0.5px;
  font-size: 2.05vh;
}
.input {
  display: flex;
  width: 20vw;
  margin-top: 6vh;
  border: 1px var(--borderWhite) solid;
  border-radius: 5px;
  position: relative;
}
.input img {
  width: 100%
}
#searchBar {
  background: transparent;
  width: 80%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 1.8vh 1.6vw;
  transition: all 0.3s;
  font-size: 1.8vh;
  font-family: light;
}
#searchBar::placeholder {
  color: var(--white);
  font-family: light;
}
.input button {
  background: transparent;
  cursor: pointer;
  width: 20%;
  font-size: 2.4vh;
  padding: 1vh 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: light;
}
/* CARDS */
.cards {
  margin-top: 0;
  margin-bottom: 10vh;
  padding: 0 7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 26%;
  height: 28vh;
  margin-top: 5vh;
  padding: 5vh 0;
  background: var(--sBlack);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s;
  text-align: center;
}
.card:hover {
  background: var(--hColor);
}
.card h2 {
  font-family: bold;
  font-size: 2.4vh;
  margin-bottom: 4vh;
}
.card img {
  width: 50%;
  object-fit: scale-down;
}

/* MEDIAS */
@media (max-width: 1100px) {
  .heroContent {
    width: 60%;
  }
  .input {
    width: 44vw;
  }
  #searchBar {
    padding: 1.8vh 3vw;
  }
  .card {
    width: 42%;
    margin-top: 6vh;
  }
  .cards {
    padding: 0;
  }
  .card h2 {
    font-size: 3vh;
  }
  .card img {
    width: 53%;
  }
}
@media (max-width: 860px) {
  .heroContent {
    width: 80%;
  }
  .input {
    width: 50vw;
  }
  #searchBar {
    padding: 1.8vh 4vw;
  }
}
@media (max-width: 460px) {
  .hero {
    padding-top: 10vh;
  }
  .heroContent {
    width: 100%;
  }
  .hero h1 {
    font-size: 4vh;
    margin-bottom: 5vh;
  }
  .hero h3 {
    font-size: 1.8vh;
  }
  .input {
    width: 70vw;
  }
  #searchBar {
    padding: 1.8vh 5vw;
  }
  .card {
    width: 80%;
    margin-top: 4.5vh;
  }
  .card h2 {
    font-size: 2.7vh;
  }
  .card img {
    width: 40%;
  }
}
