.wincontainer{
    width: 50%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.top{
    margin-top: 0vh;
    display: inline-block;
}
h1{
    margin-top: 5vh;
    display: inline-block;
}
ol{
    margin-top: 2vh;
    font-size: 20px;
}
ol li{
  margin-left: 50px;  
  margin-top: 2vh ;
}

ul li{
    font-size: 18px;
    margin-top: 0vh;
    list-style-type: disc;
}
